:root { 
    --ui-font: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; 
}

html{
    width: 100%;
    height: 100vh;
}

#map{
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}
  

body { 
    height: 100vh;
    font-family: var(--ui-font); 
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ui-font);
    transition: .3s ease;
}

.header{
    background: rgba(255, 255, 255, 0.6); /* translucent white */
    backdrop-filter: blur(10px);           /* blur the content behind */
    -webkit-backdrop-filter: blur(5px);

    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 1.2rem;
    font-weight: bold;
    height: auto;
    display: flex;
}

.header img{
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
    margin-right: 20px;
}

.header span{
    align-self: center;
    cursor: pointer;
}

.content {
    background: rgba(255, 255, 255, 0.6); /* translucent white */
    backdrop-filter: blur(10px);           /* blur the content behind */
    -webkit-backdrop-filter: blur(5px);   /* for Safari */
        z-index: 3;
    position: absolute;
    bottom: 20px;
    left: 50%;              /* move to horizontal center */
    transform: translateX(-50%); /* shift back by half width */
    
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center; /* centers inner content horizontally */
    align-items: center;     /* centers inner content vertically */
}



.content-menu{
    padding-top: 5px;
    height: 50px;
    border-bottom: #030303;
    width: 100%;
    display: flex;
    cursor: pointer;

}

.content-menu div{
    width: 25%;
    text-align: center;
    font-size: 1rem;
}

.content-menu div span{
    width: 25%;
    text-align: center;
    font-size: 1rem;
}

.content-main{
    height: 130px;
    border-top: 0.5px solid rgb(145, 145, 145);

}

.content-info{
    font-size: 0.7rem;
    padding: 20px;
    color: rgb(66, 65, 65);
}

.black-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #030303;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.black-btn:hover{
    opacity: 80%;
}

.select-style{
    width: 30%;
    min-width: 200px;
    border-radius: 5px;
    padding: 10px;

}



#search_location input{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: calc(30% - 20px);
}

.result{
    background: rgba(255, 255, 255, 0.6); /* translucent white */
    backdrop-filter: blur(10px);           /* blur the content behind */
    -webkit-backdrop-filter: blur(5px);   /* for Safari */
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.saved-item{
    display: flex;
    
    justify-content: space-between;
    align-content: baseline;
    align-items: center;
}

#saved_location{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 100%;
}

.input-field-decode{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: calc(25% - 20px);
    min-width: 100px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.content-info{
    overflow-y: scroll;
    max-height: 100%;
}

#decode_location{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}






